VITE_SUPABASE_URL="YOUR_SUPABASE_URL"
VITE_SUPABASE_PUBLISHABLE_KEY="YOUR_SUPABASE_ANON_KEY"
VITE_SUPABASE_PROJECT_ID="YOUR_SUPABASE_PROJECT_ID"
VITE_GROQ_API_KEY="YOUR_GROQ_API_KEY"
VITE_TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
VITE_TELEGRAM_CHAT_ID="YOUR_TELEGRAM_CHAT_IDS"
